[run]
include =
  napluggy/*
  testing/*
  */lib/python*/site-packages/napluggy/*
  */pypy*/site-packages/napluggy/*
  *\Lib\site-packages\napluggy\*
branch = 1

[paths]
source = napluggy/
  */lib/python*/site-packages/napluggy/
  */pypy*/site-packages/napluggy/
  *\Lib\site-packages\napluggy\
