[run]
include =
  napari_plugin_engine/*
  testing/*
  */lib/python*/site-packages/napari_plugin_engine/*
  */pypy*/site-packages/napari_plugin_engine/*
  *\Lib\site-packages\napari_plugin_engine\*
branch = 1

[paths]
source = napari_plugin_engine/
  */lib/python*/site-packages/napari_plugin_engine/
  */pypy*/site-packages/napari_plugin_engine/
  *\Lib\site-packages\napari_plugin_engine\
