[run]
include =
  naplugi/*
  testing/*
  */lib/python*/site-packages/naplugi/*
  */pypy*/site-packages/naplugi/*
  *\Lib\site-packages\naplugi\*
branch = 1

[paths]
source = naplugi/
  */lib/python*/site-packages/naplugi/
  */pypy*/site-packages/naplugi/
  *\Lib\site-packages\naplugi\
