dist: xenial
language: python

stages:
- name: test
  if: tag IS NOT present
- name: deploy
  if: repo = napari/napari-plugin-engine AND tag IS present

jobs:
  include:
    - python: '3.6'
      env: TOXENV=linting
      cache:
        directories:
          - $HOME/.cache/pre-commit
    - python: '3.6'
      env: TOXENV=docs
    - python: '3.6'
      env: TOXENV=py36-coverage
    - python: '3.7'
      env: TOXENV=py37-coverage
    - python: '3.8'
      env: TOXENV=py38-coverage

    - stage: deploy
      python: '3.6'
      env:
      install: pip install -U setuptools setuptools_scm
      script:
        - git tag
      deploy:
        provider: pypi
        user: "__token__"
        distributions: sdist bdist_wheel
        skip_upload_docs: true
        password:
          secure: HT829vBpzxvGf1qIrTVqveshCpFTnKBLmFUTldSn2yIE9fzdR2OVjobaOiK5Zuz1B1xlk2ujgCsSqkVVhs5giwMYyBVxzfNEISsS7zR87rwdcrS4XUlPl2zjC/kV5A6JYGxTlMrxtEFCnONROINpk6QwcWgPr3Sez2FcvJSIe7MkfRfj7LGnIZp9kcNJ+/DA/mjEVxobxNpA2/fLTWKfYGO3JCDWPPJJn5n/eSKpxs2gOMe+tSfNiaHjtyo2ZS9isO+RS/YLtyc+hdY1GVHiO3DYMp7zsxNZ7qTaLzNQKnlcdfnkGHWaZSxP2ncU/KvzeZixgkPWyfertW4pqcyqQCRTmlRVHAMAjo7DAkppgEM7rn2oBfNzx4RFrwlkfjy4yIMLRSrAXBIlr5etuyNysgBHK4RgXqs2XAxZqtMZcXBSxOAGA043u9RJY5/IfqJtPuRsJY0lupiOIRoi/Mn8dEypscLZrBsAoQ+08BJIVrOPFaQKaaxwiP2seLhkKRGc4pOfSnWht+PBc/biZcA9ptdyRniHFOi+/Ps9UiaKGI59DUPZguywpa+N7A/ssCbWu7JHK3mrEfSdQbohfA3oAhgsV1h1W8bT/PkS+uxdTyJi54EnsaXvgmtT//yfYjsaR/8O+snyc9QbVcot+IAgowMUOKxX+Mf25BOZTJjMUXk=
        on:
          branch: master
          tags: true
          repo: napari/napari-plugin-engine

install:
  - pip install -U pip
  - pip install -U --force-reinstall setuptools tox

script:
  - tox

after_script:
  - |
    if [[ "${TOXENV%-coverage}" != "$TOXENV" ]]; then
      bash <(curl -s https://codecov.io/bash) -Z -X fix -f coverage.xml -n $TOXENV
    fi
